/* src/pages/index.module.css */

:root {
  --primary-text-color: #000000; /* Black for light theme */
  --primary-bg-color: #ffffff; /* White for light theme */
}

[data-theme='dark'] {
  --primary-text-color: #ffffff; /* White for dark theme */
  --primary-bg-color: #000000; /* Black for dark theme */
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.logoImage {
  width: 60%;
  transition: transform 0.3s ease-in-out;
}

.logoImage:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: bold;
}

.main {
  padding: 10px;
}

.dataOnEKSHeader {
  text-align: center;
  margin: 40px 0; /* Center the section horizontally */
}

.dataOnEKSHeader h2 {
  display: inline-block;
  font-size: 2rem;
  margin: 0 10px; /* Add margin between the emojis and text */
  color: var(--primary-text-color); /* Use custom property for text color */
  background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #8000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flashingText span {
  font-size: 2rem;
  vertical-align: middle; /* Align with the text */
}
