# Git
.git
Config

### VisualStudioCode ###
.vscode/*
### IntelliJ/ PyCharm ###
.idea/*
# System Files
**/.DS_Store
# CDK
**/cdk.out
**/cdk.context.json
*.swp
**/node_modules
**/package-lock.json

# compiled output
**/global-s3-assets
**/regional-s3-assets
**/open-source

### Python ###
# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class
# Python Distribution / packaging
*.egg-info/
*.egg
# Python Virtual Environments
**/venv*
**/.venv*
**/.env
## Python Testing
.pytest_cache
**/.pytest_cache
**/.coverage
**/.coveragerc
**/coverage-reports/
*.jar