/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #25c2a0; /* #146ee6; */
  --ifm-menu-color: #525151;
  --ifm-font-color-base: rgba(30, 32, 34, 1);
  --ifm-navbar-background-color:  white;
  --ifm-navbar-link-color: #333;
  --ifm-navbar-height: 3.8rem;
  --ifm-code-name-highlight: #84488D;
  --ifm-font-size-base:  95%;
  --ifm-toc-border-color: #dadde1b8;
}

html[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-menu-color: #e6e6e6;
  --ifm-font-color-base: #e6e6e6;
  --ifm-navbar-background-color: #141520;
  --ifm-navbar-link-color: #aaa;
  --ifm-navbar-height: 3.8rem;
  --ifm-code-name-highlight: #A972B1;
  --ifm-toc-border-color: #333;
  --ifm-background-color: #141520;
}
