/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #297278;
  --ifm-color-primary-darker: #276c71;
  --ifm-color-primary-darkest: #20595d;
  --ifm-color-primary-light: #338c92;
  --ifm-color-primary-lighter: #359299;
  --ifm-color-primary-lightest: #3ca5ad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2e7f85;
  --ifm-color-primary-dark: #297278;
  --ifm-color-primary-darker: #276c71;
  --ifm-color-primary-darkest: #20595d;
  --ifm-color-primary-light: #338c92;
  --ifm-color-primary-lighter: #359299;
  --ifm-color-primary-lightest: #3ca5ad;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
