prometheus:
  serviceAccount:
    create: true
    name: ${amp_sa}
    annotations:
      eks.amazonaws.com/role-arn: ${amp_irsa}
  prometheusSpec:
    remoteWrite:
      - url: ${amp_remotewrite_url}
        sigv4:
          region: ${region}
        queueConfig:
          maxSamplesPerSend: 1000
          maxShards: 200
          capacity: 2500
    retention: 5h
    scrapeInterval: 30s
    evaluationInterval: 30s
    scrapeTimeout: 10s
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          storageClassName: gp2
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 50Gi
    # Scrape Cost metrics for Kubecost add-on
    # additionalScrapeConfigs:
    #   - job_name: kubecost
    #     honor_labels: true
    #     scrape_interval: 1m
    #     scrape_timeout: 10s
    #     metrics_path: /metrics
    #     scheme: http
    #     dns_sd_configs:
    #       - names:
    #           - kubecost-cost-analyzer.kubecost.svc
    #         type: 'A'
    #         port: 9003
alertmanager:
  enabled: false

grafana:
  enabled: true
  defaultDashboardsEnabled: true
# Adding AMP datasource to Grafana config
  serviceAccount:
    create: false
    name: ${amp_sa}
  grafana.ini:
    auth:
      sigv4_auth_enabled: true
  additionalDataSources:
    - name: AMP
      editable: true
      jsonData:
        sigV4Auth: true
        sigV4Region: ${region}
      type: prometheus
      isDefault: false
      url: ${amp_url}
