<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_LEVEL" value="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.nifi.web.security.oidc" level="DEBUG"/>
    <logger name="org.apache.nifi.authentication" level="DEBUG"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>