prometheus:
  prometheusSpec:
    retention: 5h
    scrapeInterval: 10s
    evaluationInterval: 10s
    scrapeTimeout: 5s
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          storageClassName: gp3
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 50Gi
    # Find monitors in all namespaces
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    # Scrape Cost metrics for Karpenter and Yunikorn add-ons
    additionalScrapeConfigs:
      - job_name: yunikorn
        honor_labels: true
        scrape_interval: 15s
        scrape_timeout: 10s
        metrics_path: /ws/v1//metrics
        scheme: http
        dns_sd_configs:
          - names:
              - yunikorn-service.yunikorn.svc
            type: 'A'
            port: 9080
      - job_name: karpenter
        kubernetes_sd_configs:
        - role: endpoints
          namespaces:
            names:
            - karpenter
        relabel_configs:
        - source_labels:
          - __meta_kubernetes_endpoints_name
          - __meta_kubernetes_endpoint_port_name
          action: keep
          regex: karpenter;http-metrics
  # Monitors for Spark Jobs
  additionalPodMonitors:
    - name: "spark-job-monitoring"
      jobLabel: "spark-job-monitoring"
      selector:
        matchLabels:
          spark-role: driver
      namespaceSelector:
        matchNames:
          - spark-team-a
          - spark-team-b
          - spark-team-c
          - spark-s3-express
      podMetricsEndpoints:
        - port: "spark-ui"
          interval: 10s
          path: /metrics/driver/prometheus/
        - port: "spark-ui"
          interval: 10s
          path: /metrics/executors/prometheus/

alertmanager:
  enabled: false

grafana:
  enabled: true
  defaultDashboardsEnabled: true
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      karpenter-capacity-dashboard:
        url: https://karpenter.sh/v1.2/getting-started/getting-started-with-karpenter/karpenter-capacity-dashboard.json
      karpenter-performance-dashboard:
        url: https://karpenter.sh/v1.2/getting-started/getting-started-with-karpenter/karpenter-performance-dashboard.json
      spark-job-dashboard:
        url: https://raw.githubusercontent.com/awslabs/data-on-eks/refs/heads/main/analytics/terraform/spark-k8s-operator/examples/benchmark/spark-operator-benchmark-kit/emr-eks-grafana-dashboard.json
      spark-operator-dashboard:
        url: https://raw.githubusercontent.com/awslabs/data-on-eks/refs/heads/main/analytics/terraform/spark-k8s-operator/examples/benchmark/spark-operator-benchmark-kit/kubeflow-spark-operator-dashboard.json
